<!DOCTYPE html>
<html lang='en'>
<head>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/stylesheets/proxy-board.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <ul id="proxies-list">
  <% proxies.forEach(function(proxy) { %>
    <li>
      <a href="/proxy/<%= proxy.id %>"><%= proxy.target %></a>
    </li>
  <% }); %>
  </ul>
</div>

</body>
</html>
