<!DOCTYPE html>
<html lang='en'>
<head>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/stylesheets/proxy-board.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>

<header class="navbar navbar-static-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand"><strong>Proxy</strong>Board</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/proxy/new">Create New Proxy</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">

  <ul id="requests-list">
  <% requests.forEach(function(request) { %>
    <li>
      <h4>
        <small><%= request.method %></small> 
        <a class="request-url" href="/request/<%= request.id %>"><%= request.url %></a>
      </h4>
        <% 
          var label = "label-primary";
          if (request.response_status.match(/^4/)) {
            label = "label-warning";
          } else if (request.response_status.match(/^5/)) {
            label = "label-danger";
          }
            
        %>
        <span class="response-status label <%= label %>"><%= request.response_status %></span>
        <span class="text-info"><%= request.request_time_ms %>ms</span>
        <span class="text-success"><%= request.response_length_bytes %> bytes</span>
        <span class="text-muted pull-right"><%= request.time_ago %></span>
    </li>
  <% }); %>
  </ul>
</div>


<!--
<script src="/socket.io/socket.io.js"></script>
<script>
var socket = io.connect('http://localhost:3001');
socket.on('news', function (data) {
  console.log(data);
  socket.emit('my other event', { my: 'data' });
});
</script>
</body>
</html>
-->
