<!DOCTYPE html>
<html lang='en'>
<head>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/stylesheets/proxy-board.css">
<link rel="stylesheet" href="/assets/stylesheets/github.css">
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="/assets/javascripts/vkbeautify.0.99.00.beta.js"></script>
</head>
<body>

<div class="container">
  <h2>
    <small><%= request.method %></small> 
    <%= request.url %>
    <% 
      var label = "label-primary";
      if (request.response_status.match(/^4/)) {
        label = "label-warning";
      } else if (request.response_status.match(/^5/)) {
        label = "label-danger";
      }
        
    %>
    <span class="label <%= label %>"><%= request.response_status %></span>
    <small><%= request.request_time_ms %>ms</small>
  </h2>
  <h3>
  </h3>

  <ul class="nav nav-pills">
    <li class="active"><a href="#request" data-toggle="tab">Request</a></li>
    <li><a href="#response" data-toggle="tab">Response</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="request">
      <h4 data-toggle="collapse" data-target="#request-header">
        <span class="glyphicon glyphicon-th-list"></span>
        Request Headers
      </h4>
      <div id="request-header" class="collapse">
        <table class='table table-bordered table-condensed'>
        <% for (var key in request.request_headers) { %>
          <tr>
            <th><%= key %></th>
            <td><%= request.request_headers[key] %></td>
          </tr>
        <% } %>
        </table>
      </div>

      <h4 data-toggle="collapse" data-target="#request-body">
        <span class="glyphicon glyphicon-file"></span>
        Request Body
      </h4>
      <div id="request-body" class="collapse in">
        <% if (request.request_body.length > 0) { %>
          <ul class="nav nav-tabs">
            <li class="active"><a href="#request-preview" data-toggle="tab">Preview</a></li>
            <li><a href="#request-raw" data-toggle="tab">Raw</a></li>
          </ul>

          <div class="tab-content body-container">
            <div class="tab-pane active" id="request-preview">
              <pre class="pre-scrollable"><%- request.request_body_beautified %></pre>
            </div>
            <div class="tab-pane" id="request-raw">
              <pre><%= request.request_body %></pre>
            </div>
          </div>
        <% } else { %>
        <p class="text-muted">None</p>
        <% } %>
      </div>

    </div>

    <div class="tab-pane" id="response">
      <h4 data-toggle="collapse" data-target="#response-headers">
        <span class="glyphicon glyphicon-th-list"></span>
        Response Headers
      </h4>
      <div id="response-headers" class="collapse">
        <table class='table table-bordered table-condensed'>
        <% for (var key in request.response_headers) { %>
          <tr>
            <th><%= key %></th>
            <td><%= request.response_headers[key] %></td>
          </tr>
        <% } %>
        </table>
      </div>

      <h4 data-toggle="collapse" data-target="#response-body">
        <span class="glyphicon glyphicon-file"></span>
        Response Body
      </h4>
      <div id="response-body" class="collapse in">
        <% if (request.response_body.length > 0) { %>
          <ul class="nav nav-tabs">
            <li class="active"><a href="#response-preview" data-toggle="tab">Preview</a></li>
            <li><a href="#response-raw" data-toggle="tab">Raw</a></li>
          </ul>

          <div class="tab-content body-container">
            <div class="tab-pane active" id="response-preview">
              <% 
                var isHTML = request.response_headers["content-type"].match(/text\/html/);
                var isJSON = request.response_headers["content-type"].match(/application\/json/);
                if (isHTML) {
              %>
                <iframe src="/response_body/<%= request.id %>" height="400"></iframe>
              <%
                } else if (isJSON) {
              %>
                <pre class="pre-scrollable"><%- request.response_body_beautified %></pre>
              <%
                }
              %>
            </div>
            <div class="tab-pane" id="response-raw">
              <pre><%= request.response_body %></pre>
            </div>
          </div>
        <% } else { %>
          <p class="text-muted">None</p>
        <% } %>
      </div>
    </div>
  </div>

</div>

</body>
</html>
