<!DOCTYPE html>
<html lang='en'>
<head>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/stylesheets/proxy-board.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>

<header class="navbar navbar-static-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand"><strong>Proxy</strong>Board</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/proxy/new">Create New Proxy</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <form action='/proxy' method='post' role='form'>
    <div class='form-group'>
      <label for='target'>Proxy Target</label>
      <input type='text' name='target' class='form-control' id='target' placeholder='Enter URL'/>
    </div>
    <button type='submit' class='btn btn-primary'>Create Proxy</button>
  </form>
</div>

</body>
